<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
  <testsuites>
    <testsuite name="ai_chatbot_unit">
      <directory>modules/ai_chatbot/tests/src/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
