/* Gin theme support */
.chatbot-gin .ai-deepchat--header {
    font-family: "Ginter", "system-ui";
}

.chatbot-gin .ai-deepchat--header {
    background-color: var(--gin-color-text);
}

.chatbot-gin .ai-deepchat--header:hover,
.chatbot-gin .ai-deepchat--header.active {
    color: var(--gin-color-button-text);
    background-color: var(--gin-color-primary);
}
